/*----------  NAV  ----------*/

nav {
    background-color: #4A4A4A;
    color: white;
    padding: 10px;
    text-align: center;
}


/*----------  SVG  ----------*/

.background {
    fill: none;
    pointer-events: all;
}

path {
    stroke: #B4F582;
    stroke-width: 0.25px;
    fill: #57B055;
    cursor: pointer;
    transition: fill .75s ease;
    &.selected {
        fill: #B4F582;
    }
}

circle {
    fill: rgba(#FF7400, 0.5);
    pointer-events: none;
}

svg {
    background-color: white;
    height: 100%;
}

.svg-wrapper {
    position: relative;
    margin: 50px 5% 20px;
    border-radius: 10px;
    border: solid 5px #B4F582;
    overflow: hidden;
    .info-box {
        height: 100%;
        width: 100%;
        bottom: -100%;
        position: absolute;
        background: linear-gradient(to top, rgba(#57B055, 0.5), rgba(#B4F582, 0.5));
        pointer-events: none;
        transition: opacity .75s ease;
        opacity: 0;
        &.active {
            bottom: 0%;
            opacity: 1;
        }
        .content {
            color: white;
            text-shadow: 1px 1px 1px #4A4A4A;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


/*----------  SELECT BOXES  ----------*/

#options {
    text-align: center;
    font-size: 0.9em;
}

select {
    margin: 5px 0;
    width: 300px;
    background-color: #B4F582;
    color: #4A4A4A;
    &:focus {
        outline: none;
    }
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 20px;
    color: #4A4A4A;
}


/*----------  FOOTER  ----------*/


/* sticky footer */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 50px;
}

footer {
    text-align: center;
    font-size: 0.6em;
    position: absolute;
    background-color: #4A4A4A;
    color: white;
    p {
        margin: 10px;
    }
    //sticky
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}
