body {
    padding: 5%;
}

.background {
    fill: none;
    pointer-events: all;
}

path {
    stroke: #B4F582;
    stroke-width: 0.25px;
    fill: #57B055;
    cursor: pointer;
    transition: fill .75s ease;
    &.selected {
        fill: #B4F582;
    }
}

circle {
    fill: rgba(#FF7400, 0.5);
    pointer-events: none;
}

svg {
    background-color: white;
}

.svg-wrapper {
    position: relative;
    //border-radius: 10px;
    border: solid 5px #B4F582;
    overflow: hidden;
    .info-box {
        height: 100%;
        width: 100%;
        bottom: -100%;
        position: absolute;
        background: linear-gradient(to top, rgba(#57B055, 0.5), rgba(#B4F582, 0.5));
        pointer-events: none;
        transition: opacity .75s ease;
        opacity: 0;
        &.active {
            bottom: 0%;
            opacity: 1;
        }
        .content {
            color: white;
            text-shadow: 1px 1px 1px #4A4A4A;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
