/*----------  SVG  ----------*/

.background {
    fill: none;
    pointer-events: all;
}

path {
    stroke: $green2;
    stroke-width: 1px;
    cursor: pointer;
    transition: fill .75s ease, stroke .75s ease;
    &.selected {
        fill: $green1 !important; //overwrites d3 assigned color
    }
}

circle {
    fill: rgba($orange, 0.5);
    pointer-events: none;
    transition: opacity .75s ease;
}

svg {
    background-color: white;
    height: 100%;
    display: block;
}

.svg-wrapper {
    //svg fix for IE
    position: relative;
    height: 0;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 40%;
    > svg {
        position: absolute;
        z-index: 0; //remains under info box
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        border-radius: 10px; //fixes hard edges
    }
    //end of cross brower fix
    position: relative;
    border-radius: 10px;
    border: solid 5px $green1;
    overflow: visible;
    .info-box {
        height: 100%;
        width: 100%;
        display: none;
        position: absolute;
        z-index: 2;
        background: linear-gradient(to top, rgba($green2, 0.75), rgba($green1, 0.75));
        pointer-events: none;
        transition: opacity .75s ease;
        opacity: 0;
        border-radius: 5px;
        &.active {
            display: block;
            opacity: 1;
        }
        .content {
            color: white;
            text-shadow: 1px 1px 1px $black;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.projection,
.legend {
    font-size: 0.5em;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.projection {
    right: 10px;
}

.legend {
    opacity: 0;
    transition: opacity .75s ease;
    left: 10px;
    img {
        margin: 0 10px;
        width: 100px;
        height: 10px;
        vertical-align: middle;
    }
}
