/* Small Desktop */

@media only screen and (max-width: 1200px) {}


/* IPAD 768px x 1024px */

@media only screen and (max-width: 992px) {}


/* Mobile */

@media only screen and (max-width: 768px) {
    body {
        font-size: 0.75em;
    }
    label {
        text-align: left;
        width: 30px;
    }
    select {
        width: 200px;
    }
    .projection {
        display: none;
    }
    .info {
        margin-bottom: 20px;
    }
}


/* Small Mobile > 320px */

@media only screen and (max-width: 600px) {
    .legend {
        width: 200px;
        text-align: center;
        transform-origin: 0 100%;
        transform: scale(0.75) translateX(-50%);
        left: 50%;
        bottom: -5px;
    }
}
